# Ignore build artifacts and dependencies
node_modules/
target/
*.log
*.class
*.jar
*.war
*.iml
/.idea/
/.vscode/
.env
.DS_Store
apps/frontend/.next/
apps/frontend/out/
apps/frontend/.turbo/
apps/frontend/.cache/
apps/frontend/.eslintcache
apps/frontend/.parcel-cache/
apps/frontend/.storybook/
apps/frontend/coverage/
apps/frontend/dist/
apps/backend/target/
apps/backend/.classpath
apps/backend/.project
apps/backend/.settings/
apps/backend/.gradle/
apps/backend/build/
apps/backend/out/
*.tmp
*.bak
*.swp
